@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #fff;
  --foreground: #202020;
  --toggleBorder: #202020;
  --PrimaryBackground: #f9fafb;

  --text-foreground: #535353;
  --border-project: #dddddd;
  --icons: #805ad5;
}

/* Tema Escuro */
.dark {
  --background: #202020;
  --foreground: #fff;
  --toggleBorder: #ffeb3b;
  --PrimaryBackground: #1b1b1b;

  --text-foreground: #7c7c7c;
  --border-project: #27272a;
  --icons: #805ad5;
}

body {
  color: var(--foreground);
  background: var(--PrimaryBackground);
  font-family: var(--font-poppins);
  transition: background 0.3s, color 0.3s;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 100px;
  width: 100%;
  height: 100%;
}
